@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');


:root { 
  --blue: #1DA1F2; 
  --dark-blue: #0086b3; 
  --light-blue: #e8f4f8; 
  --black: #14171A; 
  --dark-gray: #657786; 
  --light-gray: #AAB8C2; 
  --extra-light-gray: #E1E8ED; 
  --extra-extra-light-gray: #F5F8FA; 
}

* { 
  box-sizing: border-box; 
}

body, a , ul { 
  font-family: 'Open Sans', sans-serif;
  margin: 0; 
  text-decoration: none; 
  list-style-type: none;
}

