.profile-container { 
  display: flex; 
}

.profile-side-nav-container { 
  flex-grow: 1; 
  flex-basis: 0;
  display: flex; 
  justify-content: flex-end; 
}

.profile-details-container {
  flex-grow: 1; 
  flex-basis: 0
}

.profile-search-container { 
  flex-grow: 1; 
  flex-basis: 0
}


.edit-name-textarea { 
  width: 550px; 
  resize: none; 
  border: 1px solid var(--light-gray);
}

.edit-name-textarea:focus { 
  outline: 1px solid var(--blue);
}

.edit-description-textarea { 
  width: 550px; 
  resize: none; 
  border: 1px solid var(--light-gray);
}

.edit-description-textarea:focus { 
  outline: 1px solid var(--blue);
}


