.nav-bar-items { 
  display: inline-block; 
  padding: 30px 70px;
}

.logo { 
  height: 20px; 
  margin-left: 10px;
}

.logo-container { 
  width: 50px; 
}

.nav-bar-item { 
  padding: 12px 0; 
}

.nav-bar-item:hover { 
  background-color: var(--light-blue); 
  border-radius: 30px; 
}

.link { 
  color: black; 
  font-weight: 700; 
  font-size: 19px; 
  display: flex; 
  align-items: center; 
}

.active { 
  color: var(--blue);
}

.nav-icon { 
  color: black; 
  margin-left: 10px;
}

.link.active > span.nav-icon{ 
  color: var(--blue);
}

.nav-text { 
  margin: 0 0 0 20px; 
}


@media only screen and (max-width: 1150px){ 
  .nav-bar-items { 
    display: flex; 
    flex-direction: column;
    padding: 30px 70px;
  }
  .nav-bar-item { 
    width: 50px; 
    display: inline-block;
  }
  .nav-text { 
    display: none;
  }
  
}

@media only screen and (max-width: 850px){ 
  .nav-bar-items { 
    padding: 0
  }
}
